@import "../../../assets/variables";
@import "../../../assets/animations";

.navbar {
  box-shadow: 0px 0px 21px $darker-color;
}
.navbar-brand {
  width: $sidebar-width;
  background-color: $highlight-color;
  margin-right: calc(#{$padding} - 0.75rem);
  .navbar-burger {
    display: none;
    @media only screen and (max-width: 960px) {
      display: block;
    }
  }
  @media only screen and (max-width: 960px) {
    margin: 0;
    width: 100vw;
  }
  .navbar-item {
    padding-left: $padding;
  }
}
.home-wrapper {
  @media screen and (max-width: 768px) {
    .container.is-fluid{
        padding: 0;
    }
  }
  display: flex;
  margin-top: $header-height;
  .sidebar {
    width: $sidebar-width;
    padding: 5rem 1.5rem;
    background-color: $background-light;
    @media only screen and (max-width: 960px) {
      position: absolute;
      top: 0;
      left: -$sidebar-width;
      height: 100vh;
      box-shadow: $box-shadow-1;
      z-index: 99;
    }
    &.active {
      left: 0;
      animation: slideInLeft 0.3s forwards;
    }
    &.deactivated {
      @media only screen and (max-width: 960px) {
        animation: slideOutLeft-custom 0.5s forwards;
      }
    }
    .menu-category {
      margin-bottom: 2rem;
      .category-header {
        font-size: $size-1;
        font-weight: bold;
      }
      .menu-list {
        font-size: $size-1;
        li {
          a {
            padding-left: 0;
            &.active{
              color: $highlight-color;
            }
          }
        }
        // font-weight: bold;
      }
    }
  }
  .main {
    flex-grow: 1;
  }

}

@keyframes slideOutLeft-custom {
  from {
    left: 0;
  }

  to {
    left: -$sidebar-width;
  }
}
/* overwrite bulma, try to resolve with variables */

.box {
  background-color: $lighter-color;
  box-shadow: none;
  border-radius: 3px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title,
.tile {
  color: $font-color;
}

.subtitle {
  color: $font-dark-color;
}

.tabs ul {
  border-bottom-color: $font-darker-color;
}

.tabs li.is-active a {
  border-bottom-color: $font-color;
  color: $font-color;
}

.tabs a {
  border-bottom-color: $font-darker-color;
  color: $font-dark-color;
}

.tabs a:hover {
  border-bottom-color: $font-color;
  color: $font-color;
}
