<article class="tile is-child box">
	<div class="tabs is-centered">
		<ul>
			<li [ngClass]="{'is-active' : (active_tab === 'new')}">
				<a (click)="changeTab('new')">
					<span class="is-hidden-mobile">New Orders</span>
					<fa-icon [icon]="faCart"></fa-icon>
				</a>
			</li>
			<li [ngClass]="{'is-active' : (active_tab === 'pending') }">
				<a (click)="changeTab('pending')">
					<span class="is-hidden-mobile">Pending Orders</span>
					<fa-icon [icon]="faClock"></fa-icon>
				</a>
			</li>
			<li [ngClass]="{'is-active' : (active_tab === 'canceled') }">
				<a (click)="changeTab('canceled')">
					<span class="is-hidden-mobile">Canceled Orders</span>
					<fa-icon [icon]="faBan"></fa-icon>
				</a>
			</li>
			<li [ngClass]="{'is-active' : (active_tab === 'completed') }">
				<a (click)="changeTab('completed')">
					<span class="is-hidden-mobile">Completed Orders</span>
					<fa-icon [icon]="faCheck"></fa-icon>
				</a>
			</li>
		</ul>
	</div>

	<!-- NEW -->
	<div class="content" *ngIf="active_tab === 'new'">
		<p *ngIf="new?.length === 0">No New Orders</p>
		<ul class="block-list is-highlighted has-radius">
			<li  *ngFor="let order of new;let i = index" >
				<a [routerLink]="['/orders/view/',order._id]" target="_blank">
					<app-order-list-item [order]="order" [index]="i"></app-order-list-item>
				</a>
			</li>
		</ul>
	</div>

	<!-- PENDING -->
	<div class="content" *ngIf="active_tab === 'pending'">
		<p *ngIf="pending?.length === 0">No Pending Orders</p>
		<ul class="block-list is-highlighted has-radius">
			<li *ngFor="let order of pending;let i = index">
				<a [routerLink]="['/orders/view/',order._id]" target="_blank">
					<app-order-list-item [order]="order" [index]="i"></app-order-list-item>
			</a>
			</li>
		</ul>
	</div>

	<!-- CANCELED -->
	<div class="content" *ngIf="active_tab === 'canceled'">
		<p *ngIf="canceled?.length === 0">No Canceled Orders</p>
		<ul class="block-list is-highlighted has-radius">
			<li *ngFor="let order of canceled;let i = index">
				<a [routerLink]="['/orders/view/',order._id]" target="_blank">
					<app-order-list-item [order]="order" [index]="i"></app-order-list-item>
				</a>
			</li>
		</ul>
	</div>

	<!-- COMPLETED -->
	<div class="content" *ngIf="active_tab === 'completed'">
		<p *ngIf="completed?.length === 0">No Completed Orders</p>
		<ul class="block-list is-highlighted has-radius">
			<li *ngFor="let order of completed;let i = index">
				<a [routerLink]="['/orders/view/',order._id]" target="_blank">
					<app-order-list-item [order]="order" [index]="i"></app-order-list-item>
				</a>
			</li>
		</ul>
	</div>
</article>
