{
    "useTabs": false,    
    "printWidth": 80,    
    "tabWidth": 2,       
    "singleQuote": false,
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "noSemi": true,
    "rcVerbose": true
}