<main>
  <!-- List of orders -->
  <section class="section" >
    <header class="is-clearfix">
      <h2 class="app-heading with-buttons">
        <span>Orders</span>
        <span>
          <a
            class="has-icons-left button is-small is-rounded is-primary"
            routerLink="new">
            <span class="icon">
              <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span class="has-text-weight-light">New</span>
          </a>
        </span>
      </h2>
    </header>
    <div class="tile is-ancestor">
      <app-orders
        class="tile is-parent"
        [pending]="this.pending_orders"
        [new]="this.new_orders"
        [completed]="this.completed_orders"
        [canceled]="this.canceled_orders"
        [active_tab]="'new'"
      ></app-orders>
    </div>
  </section>
</main>
