<div class="item">
  <div class="left">
    <span class="index is-hidden-mobile has-text-grey-dark">{{ index + 1 }}.</span>
    <section>
      <h3>{{ order.user.first_name + order.user.last_name | uppercase }}</h3>
      <small>
        <fa-icon [icon]="faPhone" rotate="90"></fa-icon
        ><a href="tel:{{ order.user.phone }}">{{ order.user.phone }} </a>
        <fa-icon [icon]="faEnvelope"></fa-icon
        ><a href="mailto:{{ order.user.email }}">{{ order.user.email }} </a>
      </small>
    </section>
  </div>
  <div class="right">
    <section class="items">
      <ul class="tags">
        <li>
          <span class="tag is-dark">ITEMS {{ order.items.length }} Nos</span>
        </li>
        <li *ngFor="let item of order.items">
          <span class="tag is-info">{{ item.name }} {{item.quantity}} {{item.measurement | measurement}}</span>
        </li>
      </ul>
    </section>
    <section class="info">
      <p class="has-text-grey-light">DELIVER BY</p>
      <p class="has-text-grey-light">{{ order.delivery_date | date: "dd MMM yyyy hh:mm a" }}</p>
    </section>
    <section class="info">
      <p class="has-text-grey-light">{{ order.address.city | uppercase }}</p>
      <p class="has-text-grey-light">{{ order.date | date: "dd MMM yyyy hh:mm a" }}</p>
    </section>
  </div>
</div>
