<main>
	<section class="section">
		<header class="is-clearfix">
			<h2>Customers</h2>
		</header>
		<!-- Table -->
		<main class="box">
			<table class="table table is-fullwidth">
				<thead>
					<tr>
						<th>No</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
						<td>{{ i + 1 }}</td>
						<td>{{user.first_name}}</td>
						<td>{{user.last_name}}</td>
						<td>{{user.username}}</td>
						<td>{{user.phone}}</td>
						<td>{{user.email}}</td>
						<td>{{user.address?.line_1}}, {{user.address?.line_2}},<br/>{{user.address?.city}}, {{user.address?.pin}} </td>
						<td>
							<span
							  class="has-icons-left button is-small is-rounded is-info"
							  (click)="edit(user)"
							>
							  <span class="icon">
								<fa-icon [icon]="faPencilAlt"></fa-icon>
							  </span>
							</span>
						  </td>
					</tr>
				</tbody>
			</table>
		</main>
	</section>
</main>
