<section class="section">
  <header class="is-clearfix">
    <h2 class="app-heading">New Item</h2>
  </header>
  <main>
    <nav class="panel has-background-white-bis">
      <p class="panel-heading">
        <span>Item Details</span>
        <span class="buttons">
          <span class="has-icons-left button is-small is-rounded is-warning" (click)="cancel()">
            <span class="icon">
              <fa-icon [icon]="faTimes"></fa-icon>
            </span>
            <span class="has-text-weight-light">Cancel</span>
          </span>
          <span class="has-icons-left button is-small is-rounded is-primary" (click)="save()">
            <span class="icon">
              <fa-icon [icon]="faSave"></fa-icon>
            </span>
            <span class="has-text-weight-light">Create</span>
          </span>
        </span>
      </p>

      <div class="section profile-heading">
        <div class="columns is-mobile is-multiline">
          <!-- Item DETAILS -->
          <div class="column is-5-tablet is-12-mobile">
            <section>
              <form [formGroup]="itemForm">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input
                      formControlName="name"
                      class="input"
                      type="text"
                      placeholder="- Enter here -"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label">Description</label>
                  <div class="control">
                    <textarea
                      formControlName="description"
                      class="input"
                      type="text"
                      placeholder="- Enter here -"
                    ></textarea>
                  </div>
                </div>

                <div class="field flex-grow-1">
                  <label class="label">Category</label>
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="category">
                        <option value="">-Select Category-</option>
                        <option *ngFor="let category of categories" [ngValue]="category">
                          {{ category.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field flex-grow-1">
                  <label class="label">Sub-Category</label>
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="sub_category" [disabled]="!form.category">
                        <option value="">-Select Sub-Category-</option>
                        <option
                          *ngFor="let sub_category of form.category.sub_categories"
                          [value]="sub_category.id"
                        >
                          {{ sub_category.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field flex-grow-1">
                  <label class="label">Measurement Unit</label>
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select formControlName="measurement">
                        <option value="">-Select Unit-</option>
                        <option *ngFor="let measurement of measurements" [value]="measurement.id">
                          {{ measurement.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Price</label>
                  <div class="control">
                    <input
                      formControlName="price"
                      class="input"
                      type="number"
                      placeholder="- Enter here -"
                    />
                  </div>
                </div>
              </form>
            </section>
          </div>
          <div class="column">
            <h2 class="title">Images</h2>
            <div class="file has-name">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  name="item_images"
                  
                  (change)="selectFiles($event)"
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label"> Choose a file… </span>
                </span>
              </label>
            </div>
            <section class="images-container">
              <p *ngIf="preview.length === 0" class="subtitle is-size-6">No files added...</p>
              <div class="columns image-list is-multiline">
                <div class="column" *ngFor="let image of preview;let i = index;">
                  <div class="list">
                    <span class="icon delete-icon" (click)="deleteImage(i)">
                      <fa-icon [icon]="faTimes"></fa-icon>
                    </span>
                    <figure class="image is-128x128  list-item">
                      <img [src]="image" />
                    </figure>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </nav>
  </main>
</section>
