<main>
  <section class="section">
    <header class="is-clearfix">
      <h2>Customer</h2>
    </header>
    <!-- Table -->
    <main class="box">
      <nav class="panel has-background-white-bis">
        <p class="panel-heading">
          <span>Item Details</span>
          <span class="buttons">
            <span class="has-icons-left button is-small is-rounded is-warning">
              <span class="icon">
                <fa-icon [icon]="faTimes"></fa-icon>
              </span>
              <span class="has-text-weight-light">Cancel</span>
            </span>
            <span class="has-icons-left button is-small is-rounded is-primary">
              <span class="icon">
                <fa-icon [icon]="faSave"></fa-icon>
              </span>
              <span class="has-text-weight-light">Save</span>
            </span>
          </span>
        </p>

        <div class="section profile-heading">
          <div class="columns is-mobile is-multiline">
            <!-- USER IMAGE -->
            <div class="column is-2">
              <span class="header-icon user-profile-image">
                <img alt="" [src]="user?.image" />
              </span>
            </div>
            <!-- USER DETAILS -->
            <div class="column is-4-tablet is-10-mobile name">
              <p>
                <span class="title is-bold">{{
                  user?.first_name | uppercase
                }}</span>
              </p>
              <section *ngIf="user">
                <form [formGroup]="userForm">
                  <div formGroupName="address">
                    <div class="field">
                      <label class="label">Line 1</label>
                      <div class="control">
                        <input
                          formControlName="line_1"
                          class="input"
                          type="text"
                          placeholder="Text input"
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Line 2</label>
                      <div class="control">
                        <input
                          formControlName="line_2"
                          class="input"
                          type="text"
                          placeholder="Text input"
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">City</label>
                      <div class="control">
                        <input
                          formControlName="city"
                          class="input"
                          type="text"
                          placeholder="Text input"
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">State</label>
                      <div class="control">
                        <input
                          formControlName="state"
                          class="input"
                          type="text"
                          placeholder="Text input"
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Phone</label>
                      <div class="control">
                        <input
                          formControlName="phone"
                          class="input"
                          type="text"
                          placeholder="Text input"
                        />
                      </div>
                    </div>
                    <div class="field mb-3">
                      <label class="label">Pin</label>
                      <div class="control">
                        <input
                          formControlName="pin"
                          class="input"
                          type="text"
                          placeholder="Text input"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <p class="label">Sex</p>
                    <div class="control">
                      <label class="radio">
                        <input
                          type="radio"
                          formControlName="sex"
                          [value]="'male'"
                        />
                        Male
                      </label>
                      <label class="radio">
                        <input
                          type="radio"
                          formControlName="sex"
                          [value]="'female'"
                        />
                        Female
                      </label>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </nav>
    </main>
  </section>
</main>
