<main>
	<section class="section">
		<header class="is-clearfix">
			<h2>Dashboard</h2>
		</header>
		<h3>Statistics</h3>
		<!-- Tiles -->
		<div class="tile is-ancestor">
			<div
				class="tile is-parent"
				app-stats-tile
				[stat]="users?.length"
				title="Active Users"
			></div>
			<div
				class="tile is-parent"
				app-stats-tile
				[stat]="items?.length"
				title="Items"
			></div>
			<div
				class="tile is-parent"
				app-stats-tile
				[stat]="orders?.length"
				title="Todays Orders*"
			></div>
			<div
				class="tile is-parent"
				app-stats-tile
				[stat]="orders?.length"
				title="Pending Orders*"
			></div>
			<div
				class="tile is-parent"
				app-stats-tile
				[stat]="orders?.length"
				title="Changed Orders*"
			></div>
		</div>
		<hr />
		<h3>Orders Overview</h3>
		<!-- Table -->
		<div class="tile is-ancestor">
			<app-orders
				[active_tab]="'new'"
				class="tile is-parent"
				[pending]="this.pending_orders"
				[new]="this.new_orders"
				[completed]="this.completed_orders"
				[canceled]="this.canceled_orders"
			></app-orders>
		</div>
	</section>
</main>
